<form 
    class="max-w-md mx-auto"
    [formGroup]="form"
    novalidate 
    (submit)="register()"
>

    <!-- EMAIL -->
    <div class="relative z-0 w-full mb-5 group">
        <input 
            type="email"
            formControlName="email" 
            name="email" 
            id="email" 
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
            placeholder=" " 
        />
        <label 
            for="email" 
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email address</label>
        
        @if(form.controls.email.touched && form.controls.email.invalid) {
            @if(form.controls.email.hasError('required')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Este campo es obligatorio
                </p>
            }
            @if(form.controls.email.hasError('email')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Este campo debe ser un correo electrónico.
                </p>
            }
        }
    </div>
    <!-- EMAIL -->

    <!-- PASSWORD -->
    <div class="relative z-0 w-full mb-5 group">
        <input 
            type="password" 
            name="password" 
            id="password" 
            formControlName="password"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
            placeholder=" " 
        />
        <label 
            for="password" 
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password</label>

        @if(form.controls.password.touched && form.controls.password.invalid) {
            @if(form.controls.password.hasError('required')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Este campo es obligatorio
                </p>
            }
            @if(form.controls.password.hasError('minlength')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1"> 
                    Este campo debe tener más de 8 caracteres.
                </p>
            }
        }
    </div>
    <!-- PASSWORD -->
    
    <!-- CONFIRM PASSWORD -->
    <div class="relative z-0 w-full mb-5 group">
        <input 
            type="confirmPassword" 
            name="confirmPassword" 
            id="confirmPassword" 
            formControlName="confirmPassword"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
            placeholder=" " 
        />
        <label 
            for="confirmPassword" 
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Confirm password</label>

        @if(form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid) {
            @if(form.controls.confirmPassword.hasError('required')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Este campo es obligatorio
                </p>
            }
            @if(form.controls.confirmPassword.hasError('minlength')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1"> 
                    Este campo debe tener más de 8 caracteres.
                </p>
            }
        }
        @if(form.controls.confirmPassword.touched) {
            @if(form.hasError('mismatch')) {
                <p class="font-medium text-red-500 text-xs mt-1 ml-1"> 
                    Las claves no coinciden.
                </p>
            }
        }
    </div>
    <!-- CONFIRM PASSWORD -->

    <div class="grid md:grid-cols-2 md:gap-6">
        <!-- NOMBRE -->
        <div class="relative z-0 w-full mb-5 group">
            <input 
                type="text" 
                name="nombre"
                formControlName="nombre" 
                id="nombre"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
            />
            <label 
                for="nombre"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >First name</label>

            @if(form.controls.nombre.touched && form.controls.nombre.invalid) {
                @if(form.controls.nombre.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Este campo es obligatorio
                    </p>
                }
            }
        </div>
        <!-- NOMBRE -->

        <!-- APELLIDO -->
        <div class="relative z-0 w-full mb-5 group">
            <input 
                type="text" 
                name="apellido" 
                formControlName="apellido"
                id="apellido"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
            />
            <label 
                for="apellido"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Last name</label>

            @if(form.controls.apellido.touched && form.controls.apellido.invalid) {
                @if(form.controls.apellido.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Este campo es obligatorio
                    </p>
                }
            }
        </div>
        <!-- APELLIDO -->
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
        <!-- DNI -->
        <div class="relative z-0 w-full mb-5 group">
            <input 
                type="text" 
                name="dni" 
                formControlName="dni"
                id="dni"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
            />
            <label 
                for="dni"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >DNI</label>

            @if(form.controls.dni.touched && form.controls.dni.invalid) {
                @if(form.controls.dni.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Este campo es obligatorio
                    </p>
                }
                @if(form.controls.dni.hasError('minlength')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1"> 
                        Este campo debe tener más de 8 caracteres.
                    </p>
                }
            }
        </div>
        <!-- DNI -->
    </div>
    
    <div class="grid md:grid-cols-2 md:gap-6">
        <!-- CARRERA -->
        <div class="relative z-0 w-full mb-5 group">
            <label 
                for="carrera" 
                class="sr-only"
            >Underline select</label>
            <select 
                id="carrera"
                formControlName="carrera"
                class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                <option disabled selected>Carrera</option>
                <!-- <option *ngFor="let carrera of listaCarrera" [value]="carrera.id">
                    {{carrera.nombre}}
                </option> -->
            </select>

            @if(form.controls.carrera.touched && form.controls.carrera.invalid) {
                @if(form.controls.carrera.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Por favor, seleccione una carrera
                    </p>
                }
            }
        </div>
        <!-- CARRERA -->
        
        <!-- ROL -->
        <div class="relative z-0 w-full mb-5 group">
            <label 
                for="rol" 
                class="sr-only"
            >Underline select</label>
            <select 
                id="rol"
                formControlName="rol"
                class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                <option disabled selected>Rol</option>
                
            </select>

            @if(form.controls.rol.touched && form.controls.rol.invalid) {
                @if(form.controls.rol.hasError('required')) {
                    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Por favor, seleccione un rol
                    </p>
                }
            }
        </div>
        <!-- ROL -->
    </div>
    
    <button 
        type="submit" 
        class="text-white sm:w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >Registrar</button>
  </form>
  